@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: lightgrey;
}

header{
    background-color: grey;
}

header h1{
    text-align: center;
    padding: 10px;
}

span#burguer{
    background-color: rgb(49, 49, 49);
    display: block;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

span#burguer:hover{
    background-color: white;
    color: black;
    transition-duration: 0.3s;
}

menu{
    display: block;

}

menu ul{
    list-style-type: none;
}

menu > ul > li >a{
    display: block;
    background-color: rgb(80, 79, 79);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-top: 2px solid grey;
}

menu > ul > li > a:hover{
    background-color: rgb(161, 159, 159);
    transition-duration: 0.3s;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.459);

}

article h2{
    padding-bottom: 20px;
}

article p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}