@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
/*Aqui coloquei essa regra geral para que possamos utilizar todo o espaço da tela sem margens e espaçamentos.*/

:root{
    --font1: verdana, geneva, tahoma, sans-serif;
    --font2: 'Passion One', sans-serif;
    --font3: 'Sriracha', cursive;
}


html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
    /* usando o small-caps, a letra fica maiúscula,porem a primeira letra fica com o tamanho maior, dando a sensação mais natural.*/

    /*text-transform: uppercase; Essa é uma das opções de deixar as letras, nesse caso do h1, em maiúsculas.*/

    /* Foi colocado o 10vw em font size para que a fonte se adapte dependendo do tamanho da tela*/
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    /*Como eu quero que os dois links fiquem exatamente com a mesma configuração, nao precisaria colocar header a e footer a, mas para fins de conhecimento fiz dessa forma para ficar claro nas configurações de ambos*/
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    /*Como eu quero que os dois links fiquem exatamente com a mesma configuração, nao precisaria colocar header a e footer a, mas para fins de conhecimento fiz dessa forma para ficar claro nas configurações de ambos*/
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}

/* Foi colocado o 3.5vw em font size para que a fonte se adapte dependendo do tamanho da tela*/

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(53, 53, 53);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.774);
    background-attachment: fixed;
    /*Para imagem ficar fixada usamos o attachmert dentro da propriedade section.imagem.*/
}

section.imagem > p{
    background-color: rgba(36, 36, 36, 0.452);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.534);
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}